<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui" 
    template="/WEB-INF/content-template.xhtml" >
    <ui:define name="viewname" >
        <li>
            / Maintenance
        </li>
    </ui:define>
    <ui:define name="page-content" >
        <p:tabView>
            <p:tab title="MESSAGERIE" >
                <h:form>
                    <div class="ui-g" >
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            <p:selectBooleanCheckbox 
                                itemLabel="mailSmtpAuth"
                                required="true" value="#{configController.parametre.mailSmtpAuth}" />
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            <p:selectBooleanCheckbox required="true" 
                                                     itemLabel="mailSmtpStarttlsEnable"
                                                     value="#{configController.parametre.mailSmtpStarttlsEnable}" />
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            <p:selectBooleanCheckbox 
                                itemLabel="mailPropertiesMailDebugAuth"
                                required="true" value="#{configController.parametre.mailPropertiesMailDebugAuth}" />
                        </div>
                    </div>
                    <div class="ui-g" >
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            mailHost 
                            <p:inputText required="true" value="#{configController.parametre.mailHost}" />
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            mailUsername 
                            <p:inputText value="#{configController.parametre.mailUsername}" />
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            mailSender 
                            <p:inputText required="true" value="#{configController.parametre.mailSender}" />
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            mailPassword 
                            <p:inputText value="#{configController.parametre.mailPassword}" />
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            mailPort 
                            <p:inputText required="true" value="#{configController.parametre.mailPort}" />
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            mailProtocol 
                            <p:inputText value="#{configController.parametre.mailProtocol}" />
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            mailSmtpAuthMechanisms 
                            <p:inputText value="#{configController.parametre.mailSmtpAuthMechanisms}" />
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            mailSmtpAuthNtlmDomain 
                            <p:inputText value="#{configController.parametre.mailSmtpAuthNtlmDomain}" />
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-fluid" >
                            Email de Test 
                            <p:inputText value="#{configController.parametre.mailTest}" />
                        </div>
                    </div>
                    <div class="right-align " >
                        <p:commandButton 
                            update="@form"
                            actionListener="#{configController.saveEmailParam()}"
                            value="Mettre a jour" />
                    </div>
                </h:form>
            </p:tab>
            <p:tab title="Résumé" >
                <h:form enctype="multipart/form-data" >
                    <p:commandButton 
                        update="@form"
                        value="Recharger" 
                        actionListener="#{configController.reloadConfigJson()}" />
                    <p:inputTextarea 
                        value="#{configController.field.configJson}"
                        style="width: 100%;" 
                        rows="10" autoResize="false" />
                    <div class="right-align " >
                        <p:commandButton 
                            ajax="false"
                            update="@form"
                            actionListener="#{configController.saveConfigJson()}"
                            value="Mettre a jour" />
                    </div>
                </h:form>
            </p:tab>
            <p:tab title="Maintenance" >
                <h:form enctype="multipart/form-data" >
                    <h5>#{configController.currentFolder.absolutePath}</h5>
                    <hr/>
                    <div class="ui-g" >
                        <div class="ui-g-12 ui-md-3" >
                            <p:commandLink value="Vers Dossier Parent" 
                                   update="@form"
                                   actionListener="#{configController.setCurrentFolder(configController.currentFolder.parentFile)}"  />
                        </div>
                        <div class="ui-g-12 ui-md-6" >
                             Pour remplacer un fichier (utiliser le meme nom que le fichier source)
                             <p:fileUpload 
                                value="#{configController.field.remplacerFile}" 
                                mode="simple" />
                             <p:commandLink ajax="false" 
                                            value="Soummettre" 
                                            action="#{configController.remplacerFile}" />
                             <p:spacer width="50" />
                             <p:commandLink ajax="false" 
                                            style="color: red;font-weight: bold;"
                                            value="Soummettre et Redemarrer" 
                                            action="#{configController.remplacerFileAndRestart}" />
                        </div>
                        <div class="ui-g-12 ui-md-3" >
                            <p:commandLink value="Redemarrer le serveur" 
                                   actionListener="#{configController.redemarrer()}" />
                        </div>
                    </div>
                    <p:terminal 
                        style="background-color: black;color: white;height: 200px;"
                        id="terminal"
                        prompt="#{configController.currentFolder.absolutePath}$"
                        commandHandler="#{configController.handleCommand}"
                        welcomeMessage="Proxy KYC" />
                    <p:dataTable 
                        value="#{configController.currentFolderContent()}"
                        var="file"
                        scrollable="true"
                        scrollHeight="500" >
                        <p:column width="100" sortBy="#{file.isDirectory()}" headerText="Type" >
                            #{file.isDirectory()?'Repertoire':'Fichier'}
                        </p:column>
                        <p:column sortBy="#{file.name}" headerText="Fichier" >
                            <p:commandLink 
                                update="@form"
                                actionListener="#{configController.setCurrentFolder(file)}"
                                rendered="#{file.isDirectory()}" >
                                <i class="fa fa-folder" ></i>
                                #{file.name}
                            </p:commandLink>

                            <p:commandLink 
                                ajax="false"
                                style="color: black;"
                                actionListener="#{configController.download(file, '', file.name)}"
                                rendered="#{!file.isDirectory()}">
                                <i class="fa fa-file" ></i>
                                #{file.name}
                            </p:commandLink>

                        </p:column>
                        <p:column width="200" sortBy="#{file.lastModified()}" headerText="Derniere Modification" >
                            <h:outputText value="#{file.lastModified()}" >
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column width="150"  sortBy="#{file.length}" headerText="Taille" >
                            #{file.length()/1024} Ko
                        </p:column>
                        <p:column width="150" headerText="Options" >
                            <h:outputText style="color:#{file.canRead()?'black':'red'}" value="R" />
                            <h:outputText style="color:#{file.canWrite()?'black':'red'}" value="W" />
                            <h:outputText style="color:#{file.canExecute()?'black':'red'}" value="E" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </p:tab>
        </p:tabView>
    </ui:define>
</ui:composition>