<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="ContenuFichierDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="ContenuFichierDialog" 
              header="Fiche ContenuFichier"  >
        <h:form id="ContenuFichierForm" >
            <h:panelGroup rendered="#{not empty contenuFichierController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="type" value="type"/>
                        <p:inputNumber id="type" value="#{contenuFichierController.selected.type}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="fichier" value="fichier"/>
                        <p:selectOneMenu  id="fichier"  filter="true" filterMatchMode="contains" value="#{contenuFichierController.selected.fichier}" >
                            <f:selectItems var="fichier" 
                                           value="#{fichierController.itemList}"
                                           itemValue="#{fichier}"
                                           itemLabel="#{fichier.libelle}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="abonnement" value="abonnement"/>
                        <p:selectOneMenu  id="abonnement"  filter="true" filterMatchMode="contains" value="#{contenuFichierController.selected.abonnement}" >
                            <f:selectItems var="abonnement" 
                                           value="#{abonnementController.itemList}"
                                           itemValue="#{abonnement}"
                                           itemLabel="#{abonnement.libelle}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="compte" value="compte"/>
                        <p:selectOneMenu  id="compte"  filter="true" filterMatchMode="contains" value="#{contenuFichierController.selected.compte}" >
                            <f:selectItems var="compte" 
                                           value="#{compteController.itemList}"
                                           itemValue="#{compte}"
                                           itemLabel="#{compte.libelle}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="client" value="client"/>
                        <p:selectOneMenu  id="client"  filter="true" filterMatchMode="contains" value="#{contenuFichierController.selected.client}" >
                            <f:selectItems var="client" 
                                           value="#{clientController.itemList}"
                                           itemValue="#{client}"
                                           itemLabel="#{client.libelle}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="dateEnvoi" value="dateEnvoi"/>
                        <p:calendar id="dateEnvoi" value="#{contenuFichierController.selected.dateEnvoi}" pattern="dd/MM/yyyy" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="numeroCompteLu" value="numeroCompteLu"/>
                        <p:inputText id="numeroCompteLu" value="#{contenuFichierController.selected.numeroCompteLu}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="contenu" value="contenu"/>
                        <p:inputText id="contenu" value="#{contenuFichierController.selected.contenu}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="transmiAuClient" value="transmiAuClient"/>
                        <p:selectBooleanCheckbox  id="transmiAuClient" value="#{contenuFichierController.selected.transmiAuClient}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :ContenuFichierListForm"
                                     oncomplete="handleSubmit(args,'ContenuFichierDialog')"
                                     actionListener="#{contenuFichierController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>