<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="DatabaseDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="DatabaseDialog" 
              header="Fiche Database"  >
        <h:form id="DatabaseForm" >
            <h:panelGroup rendered="#{not empty databaseController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="type" value="type"/>
                        <p:inputText id="type" value="#{databaseController.selected.type}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="ip" value="ip"/>
                        <p:inputText id="ip" value="#{databaseController.selected.ip}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="port" value="port"/>
                        <p:inputText id="port" value="#{databaseController.selected.port}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="libelle" value="libelle"/>
                        <p:inputText id="libelle" value="#{databaseController.selected.libelle}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="login" value="login"/>
                        <p:inputText id="login" value="#{databaseController.selected.login}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="pass" value="pass"/>
                        <p:inputText id="pass" value="#{databaseController.selected.pass}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="status" value="status"/>
                        <p:inputText id="status" value="#{databaseController.selected.status}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :DatabaseListForm"
                                     oncomplete="handleSubmit(args,'DatabaseDialog')"
                                     actionListener="#{databaseController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
        
        
    </p:dialog>
</ui:composition>