<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="DatabaseServiceDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="DatabaseServiceDialog" 
              header="Fiche DatabaseService"  >
        <h:form id="DatabaseServiceForm" >
            <h:panelGroup rendered="#{not empty databaseServiceController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="type" value="type"/>
                        <p:inputNumber id="type" value="#{databaseServiceController.selected.type}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="ip" value="ip"/>
                        <p:inputText id="ip" value="#{databaseServiceController.selected.ip}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="port" value="port"/>
                        <p:inputText id="port" value="#{databaseServiceController.selected.port}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="libelle" value="libelle"/>
                        <p:inputText id="libelle" value="#{databaseServiceController.selected.libelle}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="login" value="login"/>
                        <p:inputText id="login" value="#{databaseServiceController.selected.login}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="pass" value="pass"/>
                        <p:inputText id="pass" value="#{databaseServiceController.selected.pass}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :DatabaseServiceListForm"
                                     oncomplete="handleSubmit(args,'DatabaseServiceDialog')"
                                     actionListener="#{databaseServiceController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>