<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/content-template.xhtml">

    <ui:define name="viewname">
        <li>/ Gestion des moniteurs</li>
    </ui:define>

    <ui:define name="page-content">
        <f:metadata>
        </f:metadata>
        
        <h:form id="form-moniteur">
            
            <p:poll delay="10000" update="@form" listener="#{alarmsBean.checkAlarms()}"  />
            
            <div class="layout-dashboard ijs" id="ijs-redaction-stat"
                 ijs-info="ijs-info-redaction-stat" ijs-step="1">
                <div class="p-grid">
                    
                    <p:repeat var="moniteur" id="moniteurs" value="#{moniteurController.itemList}">
                        <div class="p-col-12 p-lg-4 p-xl-4">
                            <p:commandLink
                                disabled="#{!moniteur.enabled}"
                                actionListener="#{moniteurController.selectId(moniteur.id)}" 
                                update=":MoniteurForm"
                                oncomplete="PF('MoniteurDialog').show();">
                                <div class="overview-box" style="background-color:#{moniteur.enabled?'#13AFA5' : 'red'}">
                                    <i class="overview-icon fa fa-database"></i>
                                    <span class="overview-title">#{moniteur.libelle}</span>
                                </div>
                                
                            </p:commandLink>
                        </div>
                    </p:repeat>
                    
                </div>
            </div>
        </h:form>

        <p:dialog id="MoniteurDialog" 
                  modal="true"
                  width="600"
                  resizable="false"
                  widgetVar="MoniteurDialog" 
                  header="Fiche moniteur">

            <h:form id="MoniteurForm">
                <h:panelGroup rendered="#{not empty moniteurController.selected}" >
                    <div class="ui-g ui-fluid">
                        <h3>#{moniteurController.selected.libelle}</h3>
                        <p:dataTable 
                            value="#{moniteurController.selected.champList}" 
                            var="champ">
                            <p:column headerText="Libelle" >
                                #{champ.libelle}
                            </p:column>
                            <p:column headerText="Valeur" >
                                <p:inputText
                                    type="#{champ.type}"
                                    title="#{champ.description}"
                                    value="#{moniteurController.field[champ.libelle]}"
                                    required="#{champ.requis}"/>
                            </p:column>
                        </p:dataTable>
                        
                        
                    </div>
                </h:panelGroup>

                <div style="text-align: right">
                    <hr/>
                    <p:commandButton 
                        value="Enregister"
                        update=":form-moniteur:moniteurs"
                        oncomplete="handleSubmit(args,'DatabaseDialog')"
                        actionListener="#{moniteurController.creerService()}" />
                </div>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>