<#include "base.html">
<#macro page_title>
  <title>Inscription</title>
</#macro>

<#macro page_body>
  <h1>Bienvenue ${acteur.nom} ${acteur.prenoms}</h1>
  <p>
      Vous avez été ajouté à la plateforme en tant qu'utilisateur.<br/>
      Votre login est :<strong>${acteur.email}</strong>
  </p>
  <p>
      Afin de terminer votre inscription, veuillez svp cliquer sur le <br/>
      lien suivant pour creer votre mot de passe: <a href="${httpUrl}/creer_mdp.xhtml?email=${acteur.email}&token=${acteur.token}" >Lien de validation</a>
  </p>
</#macro>

<@display_page/>