<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:jsf="http://java.sun.com/jsf/html"
	template="/WEB-INF/template_form.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{reponseController.prepareConnexion(param.token,param.email)}" />
		</f:metadata>
		<h:form>
			<div class="ui-g">
				<div class="ui-g-12">
					<p:graphicImage height="80" name="images/logo-black.png"
						library="babylon-layout" />
					<div class="center-align">
						<h3>EBENYX TECHNOLOGIES</h3>
					</div>
					<hr />
				</div>
				<div style="text-align: center;">
					<p:messages />
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>