html {
    font-size:15px;
}
.bg-dark {
    background-color: /*#022445*//*#ca2d26*//*#090b28*/#934b3a !important;
}
#wrapper{
    
}

.sidebar {
    background-color: /*#ca2d26*//*#022445*/#2b2b2b;
    text-transform: uppercase;
    min-height:100vh;
}
.navbar-dark{
    color: black !important;
}
.sidebar .menu-item a{
    color: #eeeeee !important; 
}
.sidebar.navbar-nav>.nav-item.menu {
    color: #eeeeee;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}
.sidebar.navbar-nav>.nav-item.active>.nav-link {
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}
.sidebar.navbar-nav>.nav-item.active>.nav-link>.fa {
    float: right;
    color: #ca2d26;
    font-weight: bold;
}
.sidebar.navbar-nav.toggled>.nav-item.active>.nav-link>.fa {
    float: none;
}
.sidebar.navbar-nav>.nav-item>.nav-link {
    color: black;
}
.sidebar.navbar-nav>.nav-item>.nav-link:hover{
    background-color: #111;
    color: white;
}
.box.box-primary {
    border-top-color: #ca2d26;
}
/*
.sidebar .nav-item .nav-link:active, 
.sidebar .nav-item .nav-link:focus, 
.sidebar .nav-item .nav-link:hover{
    background-color: #111;
}*/


.btn-primary {
    color: #fff !important;
    background-color: #111 !important;
    border-color: #111 !important;
}

button.ui-button:hover,
button.ui-button.ui-state-hover:hover {
    background-color: #fc0019 !important;
    border-color: #fc0019 !important;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border: 1px solid #fc0019;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active span.ui-radiobutton-icon {
    background-color: #fc0019 !important;
}
.navbar-brand {
    font-size: 1rem;
}


body .ui-steps .ui-steps-item {
    width: 25%;
}
 
body .ui-state-highlight {
    text-shadow: none !important;
}
 
body .ui-steps.custom {
    margin-bottom: 30px;
}

 
body .ui-steps.custom .ui-steps-item .ui-menuitem-link .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    position: relative;
    top: -3px;
}
 
body .ui-steps.custom .ui-steps-item .ui-menuitem-link .ui-steps-title {
    margin-top: -6px;
}
 
body .ui-steps.custom .ui-steps-item.ui-state-highlight .ui-menuitem-link .ui-steps-title {
    color: #555;
}


body .ui-steps.custom .ui-steps-item .ui-menuitem-link .ui-steps-number{
    background-color: #111;
    color: #FFFFFF;
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    margin-top: -20px;
    margin-bottom: 20px;
    position: relative;
    top: -3px;
}
body .ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 2px;
    padding: 0 1em;
    overflow: visible;
    border: 1px solid #c8c8c8;
    display: block;
    background-color: #FFFFFF;
}

.ui-confirm-dialog-message {
    white-space: pre-wrap;
}
div.ui-growl {
    left: initial;
    right: 20px;
}

.ui-inputgroup .ui-inputgroup-addon {
    padding: 4px;
    background-color: lightgray;
}
.ui-fieldset-legend{
    padding: 5px !important;
    border: 0px !important;
    width: auto !important;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold !important;
}

.ui-state-focus{
    box-shadow: none !important;
    border-color: black !important;
}

.ui-chips{
     border:none !important;
    padding: 0px !important;
}

.ui-chips-container{
   
}

.ui-selectoneradio.small .ui-radiobutton,
.ui-selectoneradio.small .ui-radiobutton .ui-radiobutton-box{
    width: 10px;
    height: 10px;
}
.ui-selectoneradio.small .ui-radiobutton span.ui-radiobutton-icon{
    width: 4px;
    height: 4px;
}

.title{
    color: gray;
    font-weight: bold;
    font-size: 14px;
}
.card{
    margin: 3px;
    border-right: 0 !important;
    box-shadow:none !important;
}
.card-header {
    background-color: #fff;
    padding:10px;
    border-bottom: 1px solid rgba(26,54,126,0.125);
    text-transform: uppercase;
    color: rgba(13,27,62,0.7);
    font-weight: bold;
    font-size: .88rem;
}

.card-body {
    padding:10px;
}

body .ui-datatable table tbody td, 
body .ui-treetable table tbody td, 
body .ui-datatable table thead th, 
body .ui-treetable table thead th {
    padding: 3px 10px;
}
body .ui-paginator .ui-paginator-page, 
body .ui-paginator .ui-paginator-pages, 
body .ui-paginator .ui-paginator-current {
    padding: 0px 4px;
}
body .ui-paginator .ui-paginator-first, 
body .ui-paginator .ui-paginator-prev, 
body .ui-paginator .ui-paginator-last, 
body .ui-paginator .ui-paginator-next, 
body .ui-paginator select {
    padding: 0px 4px;
}
body .ui-paginator select.ui-paginator-rpp-options {
    padding: 0px 1px;
    -moz-appearance: none;
}
.ui-wizard-step-title {
    font-size: 12px !important;
    margin: 0 3px 0 0;
    padding: 3px;
    float: left;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0px !important;
    padding-left: 6px !important;
}
.ui-notificationbar {
    height: 40px !important;
    left: 40%;
    z-index: 1001;  
}

div.ui-selectonemenu, 
div.ui-fluid div.ui-selectonemenu, 
div.ui-selectcheckboxmenu, 
div.ui-fluid div.ui-selectcheckboxmenu {
    height: 31px !important;
}

body .ui-dialog.ui-widget-content .ui-dialog-titlebar, 
body .ui-dialog .ui-dialog-titlebar {
    line-height: 0px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
}

body .ui-dialog.ui-widget-content .ui-dialog-titlebar-close, 
body .ui-dialog .ui-dialog-titlebar-close {
    margin-top: 23px;
    padding: 1px !important;
}

.ui-helper-clearfix::before, 
.ui-helper-clearfix::after{
    line-height: 0px !important;
}
body .ui-dialog.ui-widget-content .ui-dialog-buttonpane button.ui-confirmdialog-no, 
body .ui-dialog .ui-dialog-buttonpane button.ui-confirmdialog-no{
    background-color: black;
    color: white;
}
body .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li.ui-state-active{
    border-top: 3px solid #ca2d26;
}
.ui-datepicker {
    width: 22em !important;
}