<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-6">
            <p:graphicImage name="images/logo-black.png" library="babylon-layout" />
        </div>
        <div class="ui-g-6 footer-icons"><b>#{bundle.app_name}</b></div>
    </div>
</ui:composition>