<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title><ui:insert name="title">#{bundle.app_name}</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="babylon-layout" />
        <h:outputScript name="js/layout.js" library="babylon-layout" />
        <ui:insert name="head"/>
        <style>
            KKONE
            body{
                color: #3e3e3e !important;
            }
            body .ui-dialog {
                padding: 0px 0px;
            }
            body .ui-dialog .ui-dialog-content {
                border-top: 1px solid #f1ecec;
            }
            .layout-main{
                background-color: #efecec;
                min-height: 450px !important;
            }
            .ui-outputlabel-rfi{
                color: red;
                font-weight: bold;
            }
            .ui-outputlabel{
                font-weight: bold;
            }

            .ui-dialog div[class^="ui-g-"],
            .ui-dialog div[class*=" ui-md-"],
            .ui-dialog div[class*=" ui-lg-"]{
                padding: 1px;
            }
            div[class^="ui-g-"]>label,
            div[class*=" ui-md-"]>label,
            div[class*=" ui-lg-"]>label{
                margin-bottom: 1px;
                margin-top: 3px;
            }

            .layout-wrapper .layout-menu-container .layout-menu-logo a img,
            .layout-wrapper .layout-topbar .layout-topbar-logo img {
                margin-top: 0px;
            }
            .italic{
                font-style: italic;
            }
            .right-align{
                text-align: right;  
            }
            .center-align{
                text-align: center;  
            }
            .left-align{
                text-align: left;  
            }
            .dialog-bottom{
                border-top: 1px solid lightgray;
            }
            body .ui-radiobutton span.ui-radiobutton-icon {
                margin-left: -6px !important;
            }
            .ui-datagrid-content,.ui-paginator{
                background: none;
                border:none;
            }
            .ui-datagrid .ui-paginator{
                text-align: right;
            }
            .fs-8{
                font-size: 8px;
            }
            .fs-10{
                font-size: 10px;
            }

            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }
            .float-left{
                float: left;
            }
            .float-right{
                float: right;
            }

            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
                animation: sk-scaleout 1.0s infinite ease-in-out;
            }

            @-webkit-keyframes sk-scaleout {
                0% { -webkit-transform: scale(0) }
                100% {
                    -webkit-transform: scale(1.0);
                    opacity: 0;
                }
            }

            @keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                } 100% {
                    -webkit-transform: scale(1.0);
                    transform: scale(1.0);
                    opacity: 0;
                }
            }

            .h-2r, .sz-2r {
                height: 32px !important;
            }
            .sz-2r, .w-2r {
                width: 32px !important;
            }

            .layout-wrapper .route-bar .route-bar-right {
                padding: 6px 25px;
                display: inline-block;
                float: right;
            }
            .autocomplete-doc .ui-inputfield {
                padding: 2px !important;
            }
            .logo-text {
                -webkit-transition: width 0.3s ease-in-out;
                -o-transition: width 0.3s ease-in-out;
                transition: width 0.3s ease-in-out;
                display: block;
                float: left;
                height: 50px;
                font-size: 20px;
                line-height: 50px;
                text-align: center;
                width: 230px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                padding: 0 15px;
                font-weight: 300;
                overflow: hidden;
                color: #fff;
                border-bottom: 0 solid transparent;
                font-weight: bolder;
            }
            .row-error-contact td{
                background-color: #ffc4c4;
            }
            /*
            .ui-datatable .ui-chkbox-all{
                display: none !important;
            }*/
            .uppercase{
                text-transform: uppercase;
            }
            .shaddow{
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            }
            body .ui-datatable thead th {
                background-color: #e0e0e0;
            }
            body .ui-datatable thead th,
            body .ui-datatable .ui-datatable-data > tr{
                border-left: none;
                border-right: none;
            }
            body .ui-paginator {
                border-bottom:none;
                border-left:none;
                border-right:none;
                border:none;
                text-align: right;
            }
            .ui-datatable thead th, .ui-datatable tfoot td {
                text-align: left;
            }
            .layout-wrapper.layout-menu-dark .layout-menu-container {
                /*background: url(/javax.faces.resource/images/pages/sidebar.jpg.xhtml?ln=babylon-layout);*/
                background: black;
            }
        </style>
    </h:head>
    <h:body>
        <p:growl id="growll" >
            <p:autoUpdate/>
        </p:growl>
        <div class="layout-wrapper #{guestPreferences.menuMode} #{guestPreferences.menuColor} #{guestPreferences.orientationRTL ? 'layout-rtl' : null}">
            <ui:include src="./topbar.xhtml"></ui:include>
            <h:panelGroup id="page" >
                <ui:include src="./menu.xhtml"></ui:include>
                <h:panelGroup id="mainContent">
                    <ui:insert name="content"></ui:insert>
                </h:panelGroup>
            </h:panelGroup>
            <h:panelGroup rendered="#{mainController.currentActeur.hasRole('role_acces_param_maintenance')}"  >
                <ui:include 
                    src="./config.xhtml" />
            </h:panelGroup>

            <div class="layout-footer">
                <ui:include src="./footer.xhtml"></ui:include>
            </div>

            <div class="layout-mask"></div>
        </div>
        <h:form>
            <p:confirmDialog global="true" showEffect="fade" 
                             hideEffect="fade"
                             header="veuillez confirmer l'action" 
                             style="white-space: pre;" >
                <p:commandButton value="Non" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                <p:commandButton value="Oui" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            </p:confirmDialog>
        </h:form>

        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage library="images" name="loader.gif" />
        </p:dialog>
        <p:dialog widgetVar="StatusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage library="images" name="loader.gif" />
        </p:dialog>

        <p:notificationBar position="top" 
                           effect="slide" 
                           styleClass="top" 
                           widgetVar="NotificationBar">
            <h:form id="NotificationForm" >
                <p:commandLink
                    style="margin-right: 10px;float: left; border-radius: 50%;display: inline-block;width: 20px;height:20px; background-color: red;color: black;text-align: center;"
                    value="X" 
                    onclick="PF('NotificationBar').hide()"/>
                <h:panelGroup>
                    Acceder au rapport de l'action via le lien suivant : 
                    <h:outputLink value="#{reportController.field.action_report_link}" >
                        Telecharger le rapport
                    </h:outputLink>
                </h:panelGroup>
            </h:form>
        </p:notificationBar>
        <h:outputStylesheet name="material-colors.min.css" library="css" />
        <h:outputStylesheet name="css/nanoscroller.css" library="babylon-layout" />
        <h:outputStylesheet name="css/primeflex.css" library="babylon-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="babylon-layout" />
        <h:outputScript  library="js" name="jsfcrud.js"/>
        <h:outputScript library="template3" name="vendor.js" />
        <h:outputScript library="template3" name="bundle.js" />
    </h:body>

</html>