<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
    </f:facet>
    <title>#{title}</title>
    <style>
        .login-body .login-content img {
            margin-bottom: 60px;
        }
        .login-body{
            background: black !important;
        }
    </style>
</h:head>

<h:body styleClass="#{body_class}">
    <p:growl id="growl" >
        <p:autoUpdate/>
    </p:growl>
    <div class="#{panel_class}"></div>
    <div class="#{panel_content}">
        <p:graphicImage name="images/logo-black.png" library="babylon-layout" />
        <ui:insert name="content" />
    </div>
    
    <h:form>
            <p:confirmDialog global="true" showEffect="fade" 
                             hideEffect="fade"
                                    header="veuillez confirmer l'action" 
                             style="white-space: pre;" >
                <p:commandButton value="Non" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                <p:commandButton value="Oui" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            </p:confirmDialog>
        </h:form>
    <h:outputStylesheet name="material-colors.min.css" library="css" />
    <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="babylon-layout" />
    <h:outputScript library="template3" name="vendor.js" />
    <h:outputScript library="template3" name="bundle.js" />
    <h:outputScript  library="js" name="jsfcrud.js"/>
</h:body>

</html>