<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/content-template.xhtml" >
    <ui:define name="viewname" >
        <li>
            / Projet
        </li>
    </ui:define>
    <ui:define name="page-content" >
         <f:metadata>
        </f:metadata>
        <style>
            .command{
                text-align: right;
            }
            .command a{
                text-align: center;
                display: inline-block;
                min-width: 80px;
                margin: 5px;
                background-color: lightgray;
                padding: 5px;
            }
            .command a span{
                display: inline-block;
            }
            .titre{
                float: left;
                text-transform: uppercase;
                margin-right: 50px;
                font-size: 21px;
            }
        </style>
        <h:panelGroup style="display: block;" >
            <h:form>
                <div class="bB fw-600 p-10">
                    #{projetController.selected.libelle} 
                    <span class="p-5 bdrs-10em c-white #{projetController.selected.etatText}" >
                        #{projetController.selected.etatText}
                    </span>
                    <div class="float-right" >
                        <p:commandLink value="Démarrer le projet" 
                                       update="@form"
                                       rendered="#{(projetController.selected.etat ne 1) and mainController.currentActeur.can('role_action_demarer_projet')}"
                                       actionListener="#{projetController.demarrer}"/>

                        <p:commandLink value="Cloturer le projet" 
                                       update="@form"
                                       rendered="#{(projetController.selected.etat eq 1) and mainController.currentActeur.can('role_action_cloturer_projet')}"
                                       actionListener="#{projetController.cloturer}" />
                    </div>
                </div>
                <p:menubar>
                    <p:menuitem value="#{projetController.selected.code}" 
                                disabled="true"
                                icon="fa fa-dashboard" />
                    <p:menuitem value="Générale" 
                                icon="fa fa-info"
                                update="mainContent"
                                actionListener="#{mainController.set('page', 'Projet')}" >
                    </p:menuitem>
                    <p:menuitem value="Documentations"
                                icon="fa fa-files-o"
                                update="mainContent"
                                rendered="#{mainController.currentActeur.can('role_acces_projet_documentation')}"
                                actionListener="#{mainController.set('page', 'Documentation projet')}" />
                    <p:menuitem value="Rapport d'intervention"
                                rendered="#{(projetController.selected.etat eq 1) and mainController.currentActeur.can('role_acces_projet_rapport_intervention')}"
                                icon="fa fa-files-o"
                                update="mainContent"
                                actionListener="#{mainController.set('page', 'Rapport d\'intervention')}" />

                    <p:menuitem 
                        rendered="#{(projetController.selected.etat eq 1) and  mainController.currentActeur.can('role_acces_projet_tache')}"
                        value="Actions à mener" 
                        icon="fa fa-tasks"
                        update="mainContent"
                        actionListener="#{mainController.set('page', 'Tache projet')}" >
                        <f:actionListener binding="#{projetController.set('tacheProjetList',null)}" />
                    </p:menuitem>
                    <p:menuitem 
                        rendered="#{false and projetController.selected.etat eq 1}"
                        value="Planification" 
                        icon="fa fa-calendar-o"
                        update="mainContent"
                        actionListener="#{mainController.set('page', 'Planning projet')}" >
                        <f:actionListener binding="#{projetController.set('tacheProjetList',null)}" />
                    </p:menuitem>
                    <p:menuitem 
                        rendered="#{false and projetController.selected.etat eq 1}"
                        value="Gantt" 
                                icon="fa fa-calendar"
                                onclick="window.location.href='/admin/gantt.xhtml'">
                        </p:menuitem>
                    <p:menuitem 
                        rendered="#{(projetController.selected.etat eq 1) and  mainController.currentActeur.can('role_acces_projet_attribution')}"
                        value="Attribution" 
                        icon="fa fa-calendar-o"
                        update="mainContent"
                        actionListener="#{mainController.set('page', 'Attribution tache projet')}" >
                        <f:actionListener binding="#{projetController.set('profilActeurList',null)}" />
                    </p:menuitem>
                    <p:menuitem value="Reunion" 
                                rendered="#{mainController.currentActeur.can('role_acces_projet_reunion')}"
                                icon="fa fa-file"
                                update="mainContent"
                                actionListener="#{mainController.set('page', 'Reunion projet')}" >
                        <f:actionListener binding="#{reunionController.setItemList(null)}" />
                    </p:menuitem>
                    <p:menuitem 
                        value="Résumé" 
                        icon="fa fa-dashboard"
                        update="mainContent"
                        actionListener="#{mainController.set('page', 'Resumé projet')}" />
                    <f:facet name="options">
                        <p:autoComplete 
                            rendered="#{mainController.currentActeur.can('role_acces_dashboard_gestion_projet')}"
                            value="#{projetController.selected}" 
                            completeMethod="#{projetController.completeQuery}"
                            var="projet" 
                            itemLabel="#{projet.libelle}" 
                            itemValue="#{projet}" 
                            converter="#{ProjetConverter}" 
                            forceSelection="true"
                            minQueryLength="3" 
                            groupBy="#{projet.partenaire.libelle}" >
                            <p:ajax event="itemSelect" 
                                    listener="#{projetController.updateView}"
                                    update="mainContent" />
                        </p:autoComplete>
                    </f:facet>
                </p:menubar>
            </h:form>
            <h:panelGroup style="padding-top: 20px;display: block;" >
                <ui:insert name="projet-content"></ui:insert>
            </h:panelGroup>
        </h:panelGroup>
    </ui:define>
</ui:composition>